<!--

 a
 {
  color:#FFF;

  text-decoration:none;

  border-bottom:1px solid #666;
 }

 #homepage_subnav_header
 {
  float:left;
  width:100%;

  padding:.3em;

  background-color:#222;

  font:.8em arial, normal;
  color:#AAA;
 }

#homepage_header,
#homepage_content
 {
  float:left;
  width:98.5%;

  margin-left:.7em;
  padding:0px 5px 0 0;

  /* background-color:#222; */
  background-color:#000;

  /* border:1px solid #333;
  border-left:3px solid #333; */
 }

#homepage_content
{
 margin-left:.9em;
}

#homepage_header
 {
  width:99.5%;

  margin-bottom:.5em;
  
  padding:0;
 }

 #grid_icon,
 #user_connect_icon
 {
  margin:0px 3px;

  border:1px solid #666;

  font:1em modernpictograms, normal;
  color:#AAA;
 }

 .quick_edit_icon
 {
  padding:0px 4px;

  font:1.2em guifx, normal;

  color:#77FC42;
 }

 #welcome,
 #features_and_screenshots
 {
  float:left;
  width:98%;

  padding:0 1%;
 }

 #welcome
 {
  margin-top:1em;
 }
 
 #our_rules
 {
  padding-top:.5em;
 }
 
 #join_us
 {
  float:left;

  width:96%;

  margin-bottom:5em;
  padding:2%;

  border:1px solid #555;
  border-radius:.2em;
 }

 #join_us_text fieldset
 {
  float:left;
  width:98%;

  border:1px solid #333;
 }

 #new_username_label_and_text_field
 {
  float:left;
  margin-right:2em;
 }

 #features_and_screenshots
 {
  margin-top:2em;

  border-top:1px solid #222;
 }

 .feature_screenshot_image
 {
  float:left;
  width:100%;

  border:1px solid #333;
  border-top:1px solid #444;
  border-bottom:1px solid #444;
 }

 #welcome,
 #features_and_screenshots,
 #join_us
 {
  font:1em arial, normal;

  line-height:120%;
 }

 .small_text
 {
  font-size:.9em;

  color:#666;
 }

 #welcome_benefits_listing li
 {
  margin-bottom:.5em;

  line-height:130%;
 }

 .feature_container,
 .subscribe_container
 {
  float:left;
  width:100%;

  margin-bottom:5em;
 }

 .subscribe_container
 {
  margin:0;
 }

 #new_features_listing li
  {
   margin-bottom:.5em;
  }

 .feature_header,
 .feature_footer
 {
  float:left;
  width:100%;

  background-color:#222;

  font-size:.70em;

  color:#999;
 }

 .feature_header
 {
  margin:2em 0 .5em 0;
  padding:5px 2px 2px 2px;

  font-weight:bold;
 }

 .feature_footer
 {
  margin:.5em 0 2em 0;
  padding:2px 2px 5px 2px;
 }

 #user_nav_container a,
 #footer_container a
  {
   text-decoration:none;

   border-bottom:0;
  }

.pagination ul
{
 float:left;
 width:100%;
}

.pagination ul li
{
 display:inline;

 float:left;

 margin-right:2em;

 list-style-type:none;
}

-->
