<!--

@font-face
 { 
     font-family: 'wc-rhesus-a-bta';
     src: url('../fonts/wc_rhesus/WC_Rhesus_A_Bta.woff') format('woff'),
          url('../fonts/wc_rhesus/WC_Rhesus_A_Bta.ttf') format('truetype');
 }

@font-face
 { 
     font-family: 'baumans';
     src: url('../fonts/baumans/Baumans-Regular.woff') format('woff'),
          url('../fonts/baumans/Baumans-Regular.ttf') format('truetype');
 }


 body
 {
  background-color: #000;

  font-family:arial;

  color:#FFF;
 }

 .page_container
 {
  float:left;
  width:64%;

  margin:0 0 0 16%;
  padding:0 2% 0 0;

 }

 a
 {
  font:1em arial, normal;

  color:#FFF;

  text-decoration:none;

  border-bottom:1px solid #333;
 }

.index_page_article_item_content
 {
  float:left;
  width:99%;

  margin-left:1%;
 }
 
.index_page_article_item h2
 {
  float:left;
  width:100%;

  margin-bottom:0;
  
  text-decoration:none;

  font:1.2em arial, normal;
 }

 p
 {
  font-family:'baumans';
 }

.index_page_article_item .index_page_read_more_link_container
 {
  float:left;
  width:100%;

  margin-bottom:3em;
 }

.index_page_article_item .index_page_read_more_link_container a
 {
  font-size:.8em;
 }

/* -------- */

#homepage_centre_logo_container,
#homepage_small_centre_logo_container
 {
     float:left;
     width:75.7%;

     padding-left:25%;
     
     text-align:center;

     border:1px solid #333;
     border-radius:.3em;
 }

#homepage_centre_logo_container
 {
  margin-top:1em;

  padding-left:24.6%;
  
  border-top:.5em solid #87CEEB;
 }

#homepage_centre_logo #homepage_centre_logo_outer_circle,
#homepage_small_centre_logo #homepage_small_centre_logo_outer_circle
 {
  float:left;

  margin:.9em;

  border:.4em solid #000;
  border-radius:100%;

  background-color:rgba(153,204,255, .4);
 }

#homepage_centre_logo #homepage_centre_logo_inner_circle,
#homepage_small_centre_logo #homepage_small_centre_logo_inner_circle
 {
  float:left;

  width:20em;
  height:20em;

  margin:.4em;

  border-radius:100%;
  border:.1em solid #444;

  background-color:#000;

  text-align:center;
 }

#homepage_centre_logo #homepage_centre_logo_symbol,
#homepage_small_centre_logo #homepage_small_centre_logo_symbol
 {
  margin-top:20%;
     
  font:10em arial, normal;
 }

#homepage_small_centre_logo_container
 {
  float:left;
  width:63%;

  padding-left:37%;

  border:0;
 }

#homepage_small_centre_logo #homepage_small_centre_logo_inner_circle
{
  width:10em;
  height:10em;

  margin:.2em;
}

#homepage_small_centre_logo #homepage_small_centre_logo_symbol
 {
  margin-top:18%;
     
  font:5em arial, normal;
 }


/* -------- */


 .user_logo
  {
   float:left;

   font:1em arial, normal;
  }


/* -- [start] starpunk nav menu text logo -- */

.text_logo_link
 {
  opacity:.9;

  font-size:.65em;

  letter-spacing:.3em;
 }

.text_logo_link .text_logo
 {
  display:inline-block;

  width:1.3em;
  height:1.3em;

  padding:.2em .2em .1em .3em; 

  border:1px solid #FFF;
  border-radius:50%;

  opacity:.9;

  background-color:#CCCCFF;

  letter-spacing:.1em;

  font-weight:bold;
  color:#000;
 }

.text_logo_link .text_logo .star_text
 {
  color:#CCC;
 }

.text_logo_link .text_logo .punk_text
 {
  color:#CCCCFF;
 }

/* -- [end] starpunk nav menu text logo -- */

#page_nav_menu
 {
   float:left;
   width:98%;

   margin:.5em 0 3em 1.5%;
   padding:0;
 }

#page_nav_menu li
 {
  position:relative;
  display:inline;

  float:left;

  height:0;

  width:33%;

  margin-left:0;

  padding-bottom:32%;

  list-style-type:none;

  border:1px solid #333;

  font-size:.65%

  color:#666;
 }

#page_nav_menu li:hover
 {
  border:1px solid #87CEEB;
  background-color:rgba(153,204,255, .4);

  cursor:pointer;
 }

#page_nav_menu li .option_inner_region
 {
  position:absolute;

  float:left;
  width:60%;

  padding:12% 0 0 20%;

  font-family:'baumans';
 }

#page_nav_menu li .option_inner_region p
{
 font:.85em 'baumans', normal;
}

#page_nav_menu li .option_inner_region h3
{
 float:left;
 width:100%;
}

#page_nav_menu li .option_inner_region h3 a
{
 font:.85em 'baumans', normal;
}

/* -- [start] 'news' section styles -- */

#news_header
 {
  float:left;
  width:100%;

  margin:0 0 3em 0;
  
  font:.85em 'baumans', normal;
 }

#news_header h4
 {
  margin:0px;

  font:1em 'baumans', bold;
 }

#news_header_items
 {
  float:left;
  width:93%;

  margin-left:1em;
 }

#news_header_items li
{
 padding:.2em;
}

#news_header_items li:hover
 {
  background-color:rgba(153,204,255, .4);
  cursor:pointer;
 }


/* -- [end] 'news' section styles -- */

.index_page_article_item
 {
  float:left;
  width:100%;

  margin-bottom:2em;
 }

.index_page_post_date_container,
.article_page_post_date_container
 {
     float:right;
     width:100%;

     text-align:right;

     font-size:.8em;

     border-top:1px solid #333;

     color:#999;

     opacity:.6;
 }

.index_page_post_date_container:hover,
.article_page_post_date_container:hover
 {
  opacity:.9;
 }
 
.article_page_post_date_container
 {
  margin-top:2em;
 }

.index_page_post_dateline_logo
 {
  margin-left:1.5em;
  padding:0 1em;

  background-color:rgba(153,204,255, .6);

  color:#000;
 }

#article_page_item_container
 {
  float:left;
  width:100%;

  margin-bottom:3em;
 }


#article_page_post_content_container
{
 float:left;
 width:99%;

 margin-left:1%;
}

#article_page_post_date_container
 {
  float:left;
  width:100%;

  margin-top:1em;
 }

.pagination ul
{
 float:left;
 width:100%;
}

.pagination ul li
{
 list-style-type:none;
}

-->
